<div class="navbar">
  <h1>PP</h1>
  <div class="dot-container">
    <a href="#" class="dots">
      <div class="dot"></div>
    </a>
  </div>
</div>

<div class="fixed-nav">
  <div id="particle-canvas">
    <div class="inner-fixed-nav">
      <h1><span onclick="window.location.href = '/'">Home</span></h1>
      <h1><span>About</span></h1>
      <h1><span>Services</span></h1>
      <h1><span>Blog</span></h1>
    </div>
  </div>
</div>