
<style>
  body {
    background:#cccccc;
    overflow-x:hidden;
    transition: all 400ms ease-in-out;
  }

    .about-text {
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 100%;
      transition: all 400ms ease-in-out;
    }

    .about-text p {
      font-size:40px;
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 100;
      text-align: center;
      margin-top:120px;
      letter-spacing: 2px;
      color:rgba(0,0,0,0.6);
      transition: all 400ms ease-in-out;

    }

    .dot, .dot:before, .dot:after {
      background:black !important;
    }

    .navbar h1 {
      color:black !important;
    }

    .dots {
      background:black !important;
    }

    .about-text {
      top:0;
      position: relative;
      left:0;
      width:100%;
      height: 100%;
      z-index: 99999999999;
    }

    #threejs4 {
      transform:translateY(-100px) !important;
    }

    * {
      outline: none;
    }

    .about-text button {
      width:300px;
      height: 50px;
      background:rgba(0,0,0,0.5);
      border:none;
      display: block;
      margin: 0 auto;
      color:white;
      font-weight: 100;
      font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 2px;
      transition: all 400ms ease-in-out;
      cursor: pointer;
    }


    .why-perf {
      position: absolute;
      top:-30px;
      left: 0;
      height: 400px;
      width: 100%;
      background:black;
      text-align: center;
      transition: all 400ms ease-in-out;
      transform: translateY(100px);
      opacity: 0;
      pointer-events: none
    }

    .why-perf p {
      width:500px;
      color:white;
      font-weight: 100;
      display: block;
      font-size:15px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Alegreya Sans SC', sans-serif;
      transform: translateY(80px);
    }

    .why-perf2 p {
      font-size: 22px !important;

    }

    .why-perf img {
      filter: invert(100%);
      position: fixed;
      right: 50px;
      top:10px;
      width:20px;
      height: 20px;
      cursor: pointer;
    }


  .why-perf2 {
    position: absolute;
    top:-30px;
    left: 0;
    height: 400px;
    width: 100%;
    background:black;
    text-align: center;
    transition: all 400ms ease-in-out;
    transform: translateY(100px);
    opacity: 0;
    pointer-events: none
  }

  .why-perf2 p {
    width:500px;
    color:white;
    font-weight: 100;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    transform: translateY(80px);
  }

  .why-perf2 img {
    filter: invert(100%);
    position: fixed;
    right: 50px;
    top:10px;
    width:20px;
    height: 20px;
    cursor: pointer;
  }

    #threejs5 {
      background:black;
      transform: translateY(-150px);
    }

    .bg {
      position: absolute;
      top:0;
      left: 0;
      width:100%;
      height: 100%;
      background:black;
    }

    .about-slide2-text {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background:red;
      z-index: 999999999999999;
    }

    .about-slide2-text h1 {
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size:60px;
      font-weight: 100;
      background:none;
      color:white;
      text-align: center;
      transition: all 400ms ease-in-out;

    }

    .about-slide2-text button {
      display: block;
      margin: 0 auto;
      width:250px;
      height: 50px;
      background:rgba(255,255,255,0.4);
      color:black;
      border:none;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 900;
      font-size:16px;
      cursor: pointer;
      transition: all 400ms ease-in-out;
    }

    .why-perf2 {
      z-index: 999999999999999999999;
    }

    .why-perf2 img {
      cursor: pointer;
      top:50px;
    }

    #threejs6 {
      transform: translateY(-150px);
    }


</style>

<%= render 'partials/nav' %>

<div id="fullpage">
  <!-- First Page -->

  <div class="section active" id="section0">
    <div id="threejs4"></div>

    <div class="about-text">
      <p style="color:white;"><span style="background:rgba(0,0,0,0.4);">What Is Perfect Presence?</span></p>
      <button>Learn More</button>

      <div class="why-perf">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Transparent_X.png"/>
        <p>We are a change in the digital landscape for true entrepreneurs and business owners with brand development at its finest. Get everything a business could need to grow all in one place; Web, Mobile, Branding, Marketing, Media and More. Don't just pay to get something created get yourself a partner to see your concept through from start to finish.

          The current online attention market is the driving force to many of the successful and rising brands we see today. That means you cannot afford to be left behind by a company full of empty promises when action is the only way to succeed. With our expert team we have what it takes to compete on any stage to drive real success to your brands digital venture.</p>
      </div>
    </div>


  </div>

  <!-- Page 2 -->
  <div class="section" id="section1">
    <div class="slide active">
      <div style="position: relative;" class="intro">

        <div  class="about-container">
          <div class="bg"></div>
          <div id="threejs5"></div>
          <div class="about-slide2-text">
            <h1>How Does It Work?</h1>
            <button>Learn More</button>
          </div>
          <div class="why-perf2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Transparent_X.png"/>
            <p>Creating the Perfect approach to your online Presence is not always easy. Luckily when its with our amazing team the process is extremely simple to make sure while you are making  a new idea or adding on to an existing brand, you can focus on what you want while we take care of all your digital needs.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Page 3 -->
    <div class="slide">
      <div style="position: relative; " class="intro">
        <div id="threejs6"></div>
        <div class="about-slide2-text">
          <h1 style="font-weight: 900 !important;">We Want To Make You Successful</h1>
          <button style="font-weight: 900 !important;">Learn More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="intro"></div>
  </div>
</div>

<%= render 'partials/footer' %>
<script>
    (function() {
        var addMesh, animate, camera, clock, container, controls, draw, mesh, renderer, rotate, scene, start;

        scene = void 0;

        camera = void 0;

        renderer = void 0;

        container = void 0;

        controls = void 0;

        clock = void 0;

        mesh = void 0;

        rotate = true;

        start = function() {
            var ASPECT, FAR, NEAR, SCREEN_HEIGHT, SCREEN_WIDTH, VIEW_ANGLE;
            scene = new THREE.Scene;
            VIEW_ANGLE = 45;
            NEAR = 0.1;
            FAR = 10000;
            SCREEN_WIDTH = window.innerWidth;
            SCREEN_HEIGHT = window.innerHeight;
            ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT;
            camera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR);
            camera.position.set(77.82504298529939, 34.02121980722944, 0.02178601347767);
            camera.rotation.set(-2.4020274682629177, 0.6097939469542306, 2.6601321578044113);
            camera.lookAt(scene.position);
            scene.add(camera);
            renderer = new THREE.WebGLRenderer({
                antialias: true,
                alpha: true
            });
            renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
            container = document.getElementById('threejs4');
            container.appendChild(renderer.domElement);
            clock = new THREE.Clock;
        };


        var hemiLight, jsonLoader, light;


        draw = function() {
            light = new THREE.DirectionalLight(0x000000, 3);
            light.position.set(50, 0, -500);
            light.castShadow = true;
            scene.add(light);
            jsonLoader = new THREE.ObjectLoader;
            return jsonLoader.load('office-threejs/office.json', addMesh);
        };


        var myObj;
        addMesh = function(object) {

            myObj = object;
            var materialObj = new THREE.MeshNormalMaterial({
                vertexColors: THREE.FaceColors,
                overdraw: 0.5
            });
            object.traverse(function(child) {
                if (child instanceof THREE.Mesh) {
                    child.geometry.computeVertexNormals;
                }
            });

            object.position.set(58,26,0);
            object.rotateY(10);

            // then directly add the object
            return scene.add(object);
        };

        $(".about-text button").click(function(){
            light.color.setHex( 0x00ff00 );
            light.position.set(50, 100, 100);
            $("body").css({
                background: "black"
            });
            $(".about-text p, .about-text button").css({
                transform: "translateY(100px)",
                opacity: "0",
            });

            $(".about-text").css({
                pointerEvents:"auto"
            })
            setTimeout(function(){
                $(".why-perf").css({
                    transform: "translateY(0px)",
                    opacity: "1",
                    pointerEvents: "auto"
                });
                $(".why-perf p").css({
                    opacity: "1",
                    color:"white",
                    transform: "translateY(50px)"
                })
            },600);

        });

        $(".why-perf img").click(function(){
           $(".why-perf").css({
               transform: "translateY(100px)",
               opacity: "0",
               pointerEvents: "none"
           });

           setTimeout(function(){
               light.color.setHex( 0x000000 );
               light.position.set(50, 0, -500);
               $("body").css({
                   background: "#cccccc"
               });
               $(".about-text p, .about-text button").css({
                   transform: "translateY(0px)",
                   opacity: "1"
               });
               $(".about-text").css({
                   pointerEvents:"none"
               })
           },600);


        });


        animate = function() {
            requestAnimationFrame(animate);


            if(myObj){
                myObj.rotation.y += 0.002;
            }

            return renderer.render(scene, camera);
        };

        $(".dot-container").click(function(){
            setTimeout(function(){
                $(".fixed-nav").toggleClass("show-fixed");

            },300);
            $("#wrapper").toggleClass("flicker-out");
            $("#threejs").toggleClass("flicker-out");

        });


        start();
        var delay = 2000; //milliseconds
        var timeoutId;
        var animationIsFinished = false;

        draw();

        animate();

    }).call(this);



    $('#fullpage').fullpage({
        anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
        menu: '#menu',
        css3: true
    });



</script>

<script>

    (function() {
        var addMesh, animate, camera, clock, container, controls, draw, mesh, renderer, rotate, scene, start;

        scene = void 0;

        camera = void 0;

        renderer = void 0;

        container = void 0;

        controls = void 0;

        clock = void 0;

        mesh = void 0;

        rotate = true;

        start = function() {
            var ASPECT, FAR, NEAR, SCREEN_HEIGHT, SCREEN_WIDTH, VIEW_ANGLE;
            scene = new THREE.Scene;
            VIEW_ANGLE = 45;
            NEAR = 0.1;
            FAR = 10000;
            SCREEN_WIDTH = window.innerWidth;
            SCREEN_HEIGHT = window.innerHeight;
            ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT;
            camera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR);
            camera.position.set(77.82504298529939, 34.02121980722944, 0.02178601347767);
            camera.rotation.set(-2.4020274682629177, 0.6097939469542306, 2.6601321578044113);
            camera.lookAt(scene.position);
            scene.add(camera);
            renderer = new THREE.WebGLRenderer({
                antialias: true,
            });
            renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
            container = document.getElementById('threejs5');
            container.appendChild(renderer.domElement);
            clock = new THREE.Clock;
        };





        var hemiLight, jsonLoader, light;


        draw = function() {
            light = new THREE.DirectionalLight(0x000000, 3);
            light.position.set(50, 0, -500);
            light.castShadow = true;
            scene.add(light);
            geometry = new THREE.IcosahedronGeometry( 100, 1 );
            material = new THREE.MeshBasicMaterial( { color: 0x203c20, wireframe: true, wireframeLinewidth: 1 } );

            mesh = new THREE.Mesh( geometry, material );
            mesh.position.set(-200,-100,0);
            scene.add( mesh );

        };


        $(".about-slide2-text button").click(function(){
            mesh.material.color.setHex( 0xffffff );
            $(".about-slide2-text h1").css({
                transform: "translateY(100px)",
                opacity: "0"
            });
            $(".about-slide2-text button").css({
                transform: "translateY(100px)",
                opacity: "0"
            });

            setTimeout(function(){
                $(".why-perf2").css({
                    transform: "translate(0px)",
                    opacity: "1"
                })
            },600);

            $(".why-perf2").css({
                pointerEvents: "auto"
            });





        });


        $(".why-perf2 img").click(function(){
            $(".why-perf2").css({
                transform: "translateY(100px)",
                opacity: "0",
                pointerEvents: "none"
            });

            setTimeout(function(){
                $(".about-slide2-text h1").css({
                    transform: "translateY(0px)",
                    opacity: "1"
                });
                $(".about-slide2-text button").css({
                    transform: "translateY(0px)",
                    opacity: "1"
                });
            },600);


        });




        animate = function() {
            requestAnimationFrame(animate);

            mesh.rotation.x += 0.003;
            mesh.rotation.y += 0.002;



            return renderer.render(scene, camera);
        };



        start();
        var delay = 2000; //milliseconds
        var timeoutId;
        var animationIsFinished = false;

        draw();

        animate();

    }).call(this);


</script>



<script>

    (function() {
        var addMesh, animate, camera, clock, container, controls, draw, mesh, renderer, rotate, scene, start;

        scene = void 0;

        camera = void 0;

        renderer = void 0;

        container = void 0;

        controls = void 0;

        clock = void 0;

        mesh = void 0;

        rotate = true;

        start = function() {
            var ASPECT, FAR, NEAR, SCREEN_HEIGHT, SCREEN_WIDTH, VIEW_ANGLE;
            scene = new THREE.Scene;
            VIEW_ANGLE = 45;
            NEAR = 0.1;
            FAR = 10000;
            SCREEN_WIDTH = window.innerWidth;
            SCREEN_HEIGHT = window.innerHeight;
            ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT;
            camera = new THREE.PerspectiveCamera(VIEW_ANGLE, ASPECT, NEAR, FAR);
            camera.position.set(77.82504298529939, 34.02121980722944, 0.02178601347767);
            camera.rotation.set(-2.4020274682629177, 0.6097939469542306, 2.6601321578044113);
            camera.lookAt(scene.position);
            scene.add(camera);
            renderer = new THREE.WebGLRenderer({
                antialias: true,
                alpha: true
            });
            renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
            container = document.getElementById('threejs6');
            container.appendChild(renderer.domElement);
            clock = new THREE.Clock;
        };


        var hemiLight, jsonLoader, light;


        draw = function() {
            light = new THREE.DirectionalLight(0x00ff00, 5);
            light.position.set(50, 0, -500);
            light.castShadow = true;
            scene.add(light);
            jsonLoader = new THREE.ObjectLoader;
            return jsonLoader.load('car-concept-threejs/car-concept.json', addMesh);
        };


        var myObj;
        addMesh = function(object) {

            myObj = object;
            var materialObj = new THREE.MeshNormalMaterial({
                vertexColors: THREE.FaceColors,
                overdraw: 0.5
            });
            object.traverse(function(child) {
                if (child instanceof THREE.Mesh) {
                    child.geometry.computeVertexNormals;
                }
            });

            object.position.set(-400,-200,0);


            // then directly add the object
            return scene.add(object);
        };




        animate = function() {
            requestAnimationFrame(animate);


            if(myObj){
                myObj.rotation.y += 0.002;
            }

            return renderer.render(scene, camera);
        };



        start();
        var delay = 2000; //milliseconds
        var timeoutId;
        var animationIsFinished = false;

        draw();

        animate();

    }).call(this);

</script>